{% extends "base.html"%}
{% block title %}Games{% endblock %}

{% block content %} 
<h1 align="center">Games</h1> 
<link rel="stylesheet" href="{{ url_for('static', filename='firstGame/base.css') }}">
<script src="{{ url_for('static', filename='firstGame/sketch.js') }}"></script>
<script src="{{ url_for('static', filename='firstGame/food.js') }}"></script>
<script src="{{ url_for('static', filename='firstGame/dots.js') }}"></script>
<script src="{{ url_for('static', filename='firstGame/obstacle.js') }}"></script>
<script src="{{ url_for('static', filename='firstGame/sketch.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.js"></script>

{% endblock %}