{% extends "base.html"%}
{% block title %}Home Page{% endblock %}

{% block content %} 
<div align="center"  style="margin-top: 20px">
    <i class="bi bi-house-door-fill" style="font-size: 2em;"></i>
</div>

<h1 align="center" style="font-weight: bolder; margin-bottom:50px">Welcome To The Home Page</h1> 



<div class="container text-center" >
    <div class="row">
      <div class="col" style="display:flex; justify-content: center; margin-bottom:50px;">
      <div class="card" style="width: 18rem;">
      <div style="width: auto; height:50px; background-color:#0B8BDB"></div>
      <div class="card-body">
        <h5 class="card-title">Notes</h5>
        <p class="card-text">You can Store Your Notes In Here</p>
        <a href="#" class="btn btn-primary">Go To Notes</a>
      </div>
    </div>
      </div>
      <div class="col" style="display:flex; justify-content: center; margin-bottom:50px;">
      <div class="card" style="width: 18rem;">
    <div style="width: auto; height:50px; background-color:#DB1616"></div>
      <div class="card-body">
        <h5 class="card-title">Games</h5>
        <p class="card-text">Play Games Here</p>
        <a href="#" class="btn btn-primary">Go To Games</a>
      </div>
    </div>
      </div>
      <div class="col" style="display:flex; justify-content: center; margin-bottom:50px;">
      <div class="card" style="width: 18rem;">
      <div style="width: auto; height:50px; background-color:#0BDB46"></div>
      <div class="card-body">
        <h5 class="card-title">Photos</h5>
        <p class="card-text">Upload Your Photos To Here</p>
        <a href="#" class="btn btn-primary">Upload Photos</a>
      </div>
    </div>
        
      </div>
    </div>
  </div>

{% endblock %}