{% extends "base.html"%}
{% block title %}Notes{% endblock %}

{% block content %} 
<h1 align="center" style="margin-bottom: 50px;">Notes</h1> 

<form method="post" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Note Title" id="note-title" name="note-title">
            </div>
            
            <div class="mb-3">
                <textarea class="form-control" id="note-text" name="note-text" rows="3" placeholder="Note"></textarea>
            </div>
            
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row">
        {% for note in user_notes%}
            <div class="col-md-5">
                <div class="card" style="width: 18rem; margin:15px">
                    <div class="card-body">
                        <h5 class="card-title">{{note.name}}</h5>
                        <p class="card-text">{{note.data}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>

{% endblock %}