{% extends "base.html"%}

{% block title %}Sign Up{% endblock %}

{% block content %} 


<form method="post">
    
    <div align="center"  style="margin-top: 20px">
        <i class="bi bi-signpost-2-fill" style="font-size: 2em;"></i>
    </div>

    <h3 align="center">Sign Up</h3>

    <div class="form-group" align="center" style="margin-top: 10px;">
        <label for="email">Email Adress</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter email" 
        style="max-width: fit-content;">
    </div>

    <div class="form-group" align="center" style="margin-top: 10px;">
        <label for="firstName">First Name</label>
        <input 
        type="text" 
        class="form-control" 
        id="firstName" 
        name="firstName" 
        placeholder="First Name" 
        style="max-width: fit-content;">
    </div>

    <div class="form-group" align="center" style="margin-top: 10px;">
        <label for="password1">Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password1" 
        name="password1" 
        placeholder="Password" 
        style="max-width: fit-content;">
    </div>

    <div class="form-group" align="center" style="margin-top: 10px;">
        <label for="password2">Confirm Your Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password2" 
        name="password2" 
        placeholder="Confirm Password" 
        style="max-width: fit-content;">
    </div>

    <div align="center" style="margin-top: 25px;">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
    


    

</form>

{% endblock %}